{% extends 'store/base.html' %}
{% load static %}
{% block content %}
    <table>
  <thead>
    <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Unit price</th>
        <th>Price</th>
        <th>Delete</th>
        <tbody>
     {% for item in cart %}
             <tr>
                 <td><a href="{% url 'store:show_item' item.product.pk %}" id="item">{{ item.product }}</a></td>
                 <td>{{ item.quantity }}</td>
                 <td>{{ item.price }}</td>
                 <td id="total_price">{{ item.total_price }}</td>
                 <td><a href="{% url 'store:cart_remove' item.product.pk %}" >Delete</a></td>
             </tr>
    {% endfor %}
            <tr>
                <td>Total price</td>
                <td>{{ cart.get_total_price }}</td>
                <td>
                        <form action="{% url 'store:create_order' %}" method="post">
                          {% csrf_token %}
                            <input type="submit" value="order create" id="order_create">
                        </form>
                </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
