<html>
  <head>
    <title>Buy Item 1</title>
     <script src="https://js.stripe.com/v3/"></script>
  </head>
  <body>
    <h1>{{item.name}}</h1>
    <p>{{item.description}} 1</p>
    <p>price - {{item.price}}</p>
    <button id="buy-button">Buy</button>
    <script type="text/javascript">
      var stripe = Stripe('pk_test_TYooMQauvdEDq54NiTphI7jx');
      var buyButton = document.getElementById('buy-button');
      buyButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint
        // Redirect to Stripe Session Checkout
        fetch('/buy/{{item.id}}', {method: 'GET'})
        .then(response => {return response.json()})
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
      });
    </script>
    <form action="{% url 'store:cart_add' item.id %}" method="post">
      {{ cart_product_form }}
      {% csrf_token %}
      <input type="submit" value="Добавить в корзину" class="">
    </form>
<!--  <button id="add-cart">add cart</button>-->
<!--  <script>-->
<!--    var addButton = document.getElementById('add-cart');-->
<!--    addButton.addEventListener('click', function() {-->
<!--        fetch('cart/add/{{item.id}}', {method: 'POST'})-->
<!--      });-->
<!--  </script>-->
  </body>
</html>
